#dropdown-menu-2btn-1 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1 .nav .link,
#dropdown-menu-2btn-1 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-2btn-1 .navbar,
#dropdown-menu-2btn-1 .dropdown-menu {
  background: #f8f8f6;
}
#dropdown-menu-2btn-1 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1 .dropdown-menu a:hover,
#dropdown-menu-2btn-1 .dropdown-menu a:focus {
  background: #efefeb;
}
#dropdown-menu-2btn-1 .navbar-toggler {
  color: #000000;
}
#dropdown-menu-2btn-3 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-3 .nav .link,
#dropdown-menu-2btn-3 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-2btn-3 .navbar,
#dropdown-menu-2btn-3 .dropdown-menu {
  background: #f8f8f6;
}
#dropdown-menu-2btn-3 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-3 .dropdown-menu a:hover,
#dropdown-menu-2btn-3 .dropdown-menu a:focus {
  background: #efefeb;
}
#dropdown-menu-2btn-3 .navbar-toggler {
  color: #000000;
}
